{% comment %} This is just an example to show how we will handle static imports for components
  or snippets that appear on every page on the theme {% endcomment %}

{% comment %} this will get mounted by our app.js entry file since the preloader
  appears on every page {% endcomment %}

 <section class="preloader" data-label="preloader">
</section>