<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{{	content_for_header	}}
	</head>

	<body>
		<product-modal></product-modal>
		{{content_for_layout}}

		<script type="module" defer src="{{ 'global__app.js' | asset_url }}"></script>

	</body>
</html>