{% schema %}

  {
    "name": "Preloader",
    "tag": "section",
    "class": "preloader",
    "limit": 1,
    "max_blocks": 5,
    "blocks": [
      {
        "type": "preloader-image",
        "name": "Preloader Image",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "alt",
            "label": "Alt text (recommended)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Preloader",
        "blocks": [
          {
            "type": "preloader-image"
          }, {
            "type": "preloader-image"
          }, {
            "type": "preloader-image"
          }
        ]
      }
    ],
    "enabled_on": {
      "templates": ["*"]
    }

  }

{% endschema %}

{% comment %} SECTION START {% endcomment %}

<div class="preloader__inner">
  <div class="preloader__progress-indicator"></div>
  <div class="preloader__stage">
    <div class="content">
      <div class="text-block">
        <span class="char">ST</span>
      </div>
      <div class="images">
        {% for block in section.blocks %}
          {% if block.type == 'preloader-image' and block.settings.image != blank %}
            <img
              class="preloader__image"
              data-src="{{ block.settings.image | image_url: width: 1200, height: 1200, crop: 'center' }}"
              alt="{{ block.settings.alt | escape }}">
          {% endif %}
        {% endfor %}

      </div>
      <div class="text-block">
        <span class="char">18</span>
      </div>
    </div>
  </div>
</div>