/* TODO: define z-indexes helper function */
/* TODO: integrate SCSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  visibility: hidden;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #fff;
  z-index: 5000;
}

.preloader__inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  contain: layout paint;
}

.preloader__inner .preloader__progress {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.preloader__stage {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 1500px;
  overflow: hidden;
}

.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25vmin;
  height: calc(25vmin * 5 / 4);
  transform-style: preserve-3d;
  will-change: transform;
  visibility: hidden;
}

.image-container img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: hidden;
}

.image-container img:nth-child(1) {
  visibility: visible;
}

.preloader * {
  transition: none !important;
}
