/* TODO: define z-indexes helper function */
/* TODO: integrate SCSS */

:root {
  --r: calc((100vw / 1920) * 10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #e5e6ea;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  visibility: hidden;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #fff;
  z-index: 5000;
}

.preloader__inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  contain: layout paint;
}

.preloader__inner .preloader__progress-indicator {
  --progress: 10;
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 0.15rem;
  z-index: 1000;
  transform: scaleX(calc(var(--progress) / 100));
  transform-origin: left;
  background-color: #bd4a36;
}

.preloader__stage {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 1500px;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  will-change: transform;
  visibility: hidden;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content .text-block {
  font-size: calc(20 * var(--r));
  font-weight: 800;
  overflow: hidden;
}

.content span.char {
  visibility: hidden;
  display: inline-block;
  position: relative;
  transform: translateY(100%);
}

.content .text-block:last-child {
  color: #bd4a36;
}

.content .images {
  position: relative;
  width: calc(25.2 * var(--r));
  height: calc(31.5 * var(--r));
  overflow: hidden;
  transform-style: preserve-3d;
  will-change: transform;
  margin: 0 calc(3 * var(--r));
}

.content .images img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.preloader * {
  transition: none !important;
}
